body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#container {
    display: flex;
    width: 960px;
    height: 720px;
    border: 1px solid black;
}

.row {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.cell {
    display: flex;
    border: 1px solid black;
    flex: 1;
}